<?xml version="1.0" ?>
<robot name="GripperV4_URDF" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find GripperV4_URDF_description)/urdf/materials.xacro" />
<xacro:include filename="$(find GripperV4_URDF_description)/urdf/GripperV4_URDF.trans" />
<xacro:include filename="$(find GripperV4_URDF_description)/urdf/GripperV4_URDF.gazebo" />
<link name="base_link">
  <inertial>
    <origin rpy="0 0 0" xyz="0.015992653974593474 -0.09499999997498743 -0.03998251234194585"/>
    <mass value="0.00932927990443601"/>
    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="-0.0" izz="1e-06"/>
  </inertial>
  <visual>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://GripperV4_URDF_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://GripperV4_URDF_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
